<div class="jumbotron jumbotron-fluid home-jumbo">
  <div class="container-fluid header">
    <h1 class="display-4"><b id="container-tag">Hire us.</b></h1>
    <p class="lead">
      <h3>Get your work done.</h3>
      <h6>Your Jobs get matched directly to top Professionals<br> 
        immediately through our global network<br>
        of Tested and Trusted Construction Consultants.<br>
      </h6>
    </p>
    <%= image_tag("rails.png", class:"jumbo-img") %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
     <div class="shadow p-3 mb-5 bg-white rounded">
       <div class="card card-img" style="width: 100%">
         <%= image_tag("description.jpg", class:"card-img-top img-fluid") %>
         <div class="card card-body home">
           <p class="card-text"><%= link_to "Architectural Designs", "#" %></p>
         </div>
       </div>
     </div>
    </div>
  
    <div class="col-md-6">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="card card-img" style="width: 100%">
          <%= image_tag("rails.png", class:"card-img-top img-fluid") %>
          <div class="card card-body home">
            <p class="card-text">fdhftthzgz</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="card card-img", style="width: 100%">
          <%= image_tag("time.png", class:"card-img-top img-fluid") %>
          <div class="card card-body home">
            <p class="card-text"><%= link_to "Estimates", "#" %></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="card card-img", style="width: 100%">
          <%= image_tag("description.jpg", class:"card-img-top img-fluid") %>
          <div class="card card-body home">
            <p class="card-text"><%= link_to "Structural Analysis and Designs", "#" %></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="card card-img", style="width: 100%">
          <%= image_tag("time.png", class:"card-img-top img-fluid") %>
          <div class="card card card-body home">
            <p class="card-text"><%= link_to "Landscaping and Horticulture Designs", "#" %></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="card card-img", style="width: 100%">
          <%= image_tag("time.png", class:"card-img-top img-fluid") %> 
          <div class="card card-body home">
            <p class="card-text"><%= link_to "Civil Engineering Designs", "#" %></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="shadow p-3 mb-5 bg-white rounded">
        <div class="card card-img", style="width: 100%">
          <%= image_tag("time.png", class:"card-img-top img-fluid") %>
          <div class="card card-body home">
            <p class="card-text"><%= link_to "Heavy Engineering Designs", "#" %></p>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>