<div class="jumbotron jumbotron-fluid home-jumbo">
  <div class="container">
    <h1 class="display-4"><b id="container-tag">Hire us.</b></h1>
    <p class="lead">
      <h3>Get your work done.</h3>
      <h6>Your Jobs get matched directly to top Professionals 
        immediately through our global network
        of Tested and Trusted Construction Consultants.
      </h6>
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6"><br>
      <div class="card card-body home">
        <p><%= link_to "Architectural Designs", '#' %></p>
      </div>
    </div>
    
    <div class="col-lg-6"><br>
      <div class="card card-body home">
        <p><%= link_to "Estimates", '#' %></p>
      </div>
    </div>
    
    <div class="col-lg-6"><br>
      <div class="card card-body home">
        <p><%= link_to "Structural Analysis and Designs", '#' %></p>
      </div>
    </div>
    
    <div class="col-lg-6"><br>
      <div class="card card-body home">
        <p><%= link_to "Landscaping and Horticulture Designs", '#' %></p>
      </div>
    </div>
    
    <div class="col-lg-6"><br>
      <div class="card card-body home">
        <p><%= link_to "Civil Engineering designs", '#' %></p>
      </div>
    </div>
    
    <div class="col-lg-6"><br>
      <div class="card card-body home">
        <p><%= link_to "Heavy Engineering Designs", '#' %></p>
      </div>
    </div>
    
  </div>
</div>